biopython>=1.84
pandas>=2.0
openpyxl>=3.1
boltz>=2.0
ImmuneBuilder>=1.0
pdbfixer>=1.9
anarci>=2024.0
nvitop>=1.3
matplotlib>=3.8
cuequivariance-torch>=0.10.0
cuequivariance-ops-torch-cu12>=0.10.0
tqdm>=4.66
numpy>=1.26
